.row {
    display: flex;
}

.col,.col-2,.col-3 {

    margin: 10px;
    padding: 30px;
    background-color: rgb(195, 148, 240);
    border: solid 1px rgb(135, 33, 155);

}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}